.countries_list {
  display: grid;
  gap: 3rem 2rem;
  list-style: none;
  width: 90%;
  margin: 0 2.5rem 0 0.3rem;
}

.div {
  margin-bottom: 2rem;
  display: grid;
  gap: 2rem;
}

@media screen and (min-width: 1024px) {
  .countries_list {
    width: 96%;
    margin: 0 2.5rem 0 0.3rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .div {
    grid-template-columns: 60% 40%;
  }
}
